*{
    margin: 0;
    box-sizing: border-box;
}
ul li a{
    font-size: 19px;
    font-weight: 600;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   
}
a:hover{
    
    text-decoration-style: solid;
}